{
	"extends": "@antfu",
	"rules": {
		"indent": ["error", "tab"],
		"@typescript-eslint/indent": ["error", "tab"],
		"jsonc/indent": ["error", "tab"],
		"no-tabs": "off",
		"no-console": "off",
		"curly": ["error", "all"],
		"vue/html-indent": [
			"error",
			"tab",
			{
				"attribute": 1,
				"baseIndent": 1,
				"closeBracket": 0,
				"alignAttributesVertically": true,
				"ignores": []
			}
		],
		"vue/html-self-closing": [
			"error",
			{
				"html": {
					"normal": "never",
					"void": "always",
					"component": "any"
				}
			}
		]
	}
}
