{
	"extends": "@antfu",
	"rules": {
		"indent": ["error", "tab"],
		"@typescript-eslint/indent": ["error", "tab"],
		"jsonc/indent": ["error", "tab"],
		"no-tabs": "off",
		"no-console": "off",
		"curly": ["error", "all"],
		"@typescript-eslint/brace-style": ["error", "1tbs"],
		"operator-linebreak": ["error", "after"],
		"vue/html-indent": [
			"error",
			"tab",
			{
				"attribute": 1,
				"baseIndent": 1,
				"closeBracket": 0
			}
		],
		"vue/html-self-closing": [
			"error",
			{
				"html": {
					"normal": "never",
					"void": "always",
					"component": "any"
				}
			}
		],
		"vue/max-attributes-per-line": [
			"error",
			{
				"singleline": {
					"max": 1
				},
				"multiline": {
					"max": 1
				}
			}
		]
	}
}
